h1{
 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.694);
    color: darkblue;
    font-family: georgia;
}
a{
    text-decoration-line: none;
}
h2{
    text-align: left;
    color: rgb(7, 52, 189);
    font-size: small;
    font-family:'Lucida Sans';
}
h3{
    font-family: Cambria;
    color: rgb(16, 0, 139); 
}
p{
    font-family: arial;
}
p:nth-child(7){
    text-align:right;
}
span{
    color: blue;
}
    
